.column-label { 
  text-anchor: middle;
  fill: #2C3E50;
  font-size: 1em;
}

.row-label { 
  text-anchor: middle;
  fill: #2C3E50;
  font-size: 1em;
}

.node{
  display: block;
}
.foci{
  /* uncomment out to show foci for debugging */
  display: none;
}

h1{
  text-align: center;
}

.lead{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.jumbotron{
  margin-top: 20px;
  padding-bottom: 30px;
}

blockquote{
  background-color: #eee;
}

blockquote p{
  font-size: 15px;
  line-height: 20px;
  color: #2C3E50;
}

/*styles for the little line chart*/
.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line {
  fill: none;
  stroke: #2C3E50;
  shape-rendering: crispEdges;
}

.arc path {
  stroke: #fff;
}